{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <body class="home">
    {% block body %} 
    {%if message%}
    <h3 type = "message">
      {{message}}
      <br>
    </h3>
    {%endif%}
    {%if error%}
    <h3 type = "error">
      {{error}}
    </h3>
    <br>
    {%endif%}
    <div id="appointments">
    <br>
    <!-- Background overlay for the popup -->
      {%if event_list%}
      {% for event in event_list %}
      <div class="container">
        <form method="post" action="{{ url_for("manageevents") }}">
          {{ form.csrf_token }} 
          <img src = "{{url_for('static', filename='EventBanner/'+event['EventBanner'])}}" width = "400" height = "400">
          {{ form.Index(value=event['Index'])}}
          {{ form.EventName.label }}
          {{form.EventName(value = event['EventName'])}}
          {{ form.EventLocation.label }}
          {{form.EventLocation(value = event['Location'])}}
          {{ form.EventStart.label }}
          {{ form.EventStart(value = event['Start']) }}
          {{ form.EventEnd.label }}
          {{ form.EventEnd(value = event['End']) }}
          {{ form.EventCategory.label }}
          {{ form.EventCategory(value = event['Category'])}}
            Event Description
            <textarea rows = 10 class = "formdata">{{ event['Description'] }}</textarea>
          {{ form.EventSeats.label}}
          {{ form.EventSeats(value = event['Seats'])}}
          {{ form.Manage }}
        </form>
      </div>
      <br>
    {% endfor %}
    {% else %}
    </div>
    <div>
    <h3>No Events available.</h3>
    </div>
    {% endif %}
    </div>
    {% endblock %}
  </body>
</html>